{% from "_macros.html" import checkmark %}
{% extends "base.html" %}
{% block content %}
  <div class='toolbar'>
    <a href="./login/" target="lime">Login as user</a>
    {% if not user.confirmed or not user.registered %}
        <a href="./invite/">Send invitation email</a>
    {% endif %}
    <a href="{{ url_for("admin.billing", id=user.id) }}">Billing</a>
  </div>
  <h1 class='user'>{{user.email}}</h1>
    {% if not user.confirmed %}
      <span class="danger">(User not yet confirmed.)</span>
    {% elif not user.registered %}
      <span class="danger">(User not yet registered.)</span>
    {% endif %}
        <h3>Information</h3>
        <ul>
            <li>Email: <a href="mailto:{{user.email}}">{{user.email}}</a></li>
            <li>User ID: {{user.id}}</li>
            <li>Stripe ID: <a href="https://dashboard.stripe.com/test/customers/{{user.stripe_id}}">{{user.stripe_id}}</a></li>
            <li>Confirmed: {{ checkmark(user.confirmed) }}</li>
            <li>Registered: {{ checkmark(user.registered) }}</li>
        </ul>
        <h3>Host</h3>
        <ul>
            <li>Hostname: <a href="http://{{host.hostname}}">{{host.hostname}}</a></li>
            <li>Host ID: {{host.id}}</li>
            <li>Bucketname: {{host.bucketname}}</li>
            <li>Template name: {{host.template}}
            <li>Title: {{host.title}}</li>
            <li>Subtitle: {{host.subtitle}}</li>
        </ul>
        <h3>Pages</h3>
        <a>Add a new custom page</a>
        <ul>
        {% for page in host.custom_pages %}
            <li>{{ page.title }} - <a href="http://{{ host.hostname }}/{{ page.slug }}/">http://{{ host.hostname }}/{{ page.slug }}/</a></li>
        {% else %}
            No custom pages.
        {% endfor %}
        </ul>


    <h2>Actions</h2>
    <ul>
        <li><a href="./invite/">Send invitation email</a></li>
        <li><a href="./delete/">Delete user</a></li>
    </ul>
{% endblock %}

